<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" rel="home" href="#" title="BH">
        <%=image_tag("BH-logo.png",class: "logo img-responsive", size: "90x40") %>
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<!-- Profile Picture -->
<div id="mycarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
        <%= image_tag("new-main.png") %>
           <div class="carousel-caption">
             <%=image_tag("BH-Logistics-new-logo.png",class: "logo-pic fade-in img-responsive", size: "650x200") %>
            <p class = "fade-in"> For all your trucking needs </p>
           </div>
        </div>
    </div>
</div>


<!-- Map -->
<div id= "map-container">
  <h2>Our Headquarters<h2>
 <div id="map"></div>
</div>


<!-- About -->
<div class="parallax-window" data-parallax="scroll" data-image-src= "<%=asset_path('night-truck.png')%>" >
</div>


<!-- Form -->
<div class="row">
  <div class="col-lg-4">
    <p>Send us a message, or contact us from the address below</p>
    <address>
      <h3>25882 Orchard Lake Rd</h3>
      <h3>Farmington Hills, MI 48336</h3>
      <h4>248-565-3221</h4>
      <h4>bhlogistics@gmail.com</h4>
    </address>
  </div>

      <div class="col-lg-8">
        <form action="" class="form-horizontal">
          <div class="form-group">
            <label for="user-name" class="col-lg-2 control-label">Name</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="user-name" placeholder="Enter you name">
            </div>
          </div><!-- End form group -->

          <div class="form-group">
            <label for="user-email" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="user-email" placeholder="Enter you Email Address">
            </div>
          </div><!-- End form group -->

          <div class="form-group">
            <label for="user-message" class="col-lg-2 control-label">Additional Information</label>
            <div class="col-lg-10">
              <textarea name="user-message" id="user-message" class="form-control"
              cols="20" rows="10" placeholder="Enter your Message"></textarea>
            </div>
          </div><!-- End form group -->

          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>



        </form>
      </div>
    </div><!-- End the row -->

</section>
</div>