.about{
    text-align:justify;
    width:30em;
    list-style: none;
    color: #23ABE2;
    font-size: 22px;
    padding-top: 70px;
    padding-left: 100px;
    margin:auto;

    li{
      padding-top: 10px
    }

}


.parallax-window {
    min-height: 400px;
    background: transparent;
}

#points{
    text-decoration: none;
    list-style: none;
    color: #23ABE2;
    width: 600px;
    text-align: justify;
    margin: auto;
    padding-top: 10%;
    li{
        font-size: 30px
    }
}


