#map {
  height: 400px;
  width: 400px;
  margin: auto;
}

#map-container{
  background-color: #eee;
  padding: 5px 0px;
  h2{
    font-size: 50px;
    font-family: helvetica;
    text-align: center;
    color: #23ABE2;
  }
}
