#map {
  padding: 0px 20px;
  height: 350px;
  width: 280px;
  margin: auto;
}

#map-container{
  padding: 0px 0px;
    background-color: #fff;
  h1{
    font-family: helvetica;
    text-align: center;
    color:black;
  }
  p{
    /*This is referring tto the about me container*/
    font-size: 18px;
    padding: 0px 12px;
  }
}


.come-in {
  transform: translateY(150px);
  animation: come-in 0.9s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 0.6s; /* So they look staggered */
}

@keyframes come-in {
  to { transform: translateY(0); }
}

@media all and (min-width: 700px){
  #map{
    height:400px;
    width:400px;
  }
}
