#map {
  padding: 0px 20px;
  height: 350px;
  width: 280px;
  margin: auto;
}

#map-container{
  background-color: #fff;
  padding: 0px 0px;
  h2{
    font-size: 50px;
    font-family: helvetica;
    text-align: center;
    color:black;
    border-bottom: 2px solid #23ABE2
  }
}
