.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
.navbar {
    margin-bottom: 0;
    background-color: #f8f8f8;

    a{
      font-size: 1.2em;
      margin-left:20px;
      margin-right: 20px;
    }
}


/*Fade in */
@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}

.logo{
  margin-top: -10px;
}



h1{
  font-family: helvetica;
}

p{
  font-family: helvetica;

}

@media all and (max-width: 1500px) { /* screen size until 1200px */
  .carousel-caption{
    margin-bottom: 250px;
  }
  p{
    font-size: 1.6em;
  }

  #points{
    font-size: 40px;
    padding-top: 30px;
  }
}


@media all and (max-width: 1000px) { /* screen size until 1000px */
    .carousel-caption{
    margin-bottom: 170px;
  }
    p{
    font-size:1.3em;
  }

    #points{
    font-size: 40px;
    padding-top: 30px;
  }

}

@media all and (max-width: 650px) { /* screen size until 500px */
    .carousel-caption{
    margin-bottom: 40px;
  }
    p{
    font-size:0.8em;
    margin-bottom: 30px;
  }

  #points{
    font-size: 26px;
    padding-top: 80px;
  }
}

@media all and (max-width: 450px){
  #points{
    font-size: 20px;
    padding-top: 80px;
  }
}







